{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>hello world</h1>
                <p> Salut {{ name }}</p>
            </div>
        </div>
    </div>
{% endblock %}

